<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Crear Cupón Detalles</h5>
        </div>
        <div class="card-body tab2-card">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>Promoción</a>
                    <ng-template ngbNavContent>
                        <form [formGroup]="restrictionForm" class="needs-validation" novalidate="">
                            <h4>Promoción</h4>
                            <div class="form-group row">
                                <div class="col-xl-3 col-md-4"><label for="validationCustom3">Nombre Promoción: </label>
                                </div>
                                <div class="col-md-7"><input class="form-control" formControlName="products"
                                        id="validationCustom3" type="text" required="">
                                </div>
                                <div class="valid-feedback">Please Provide a Product Name.</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-3 col-md-4"><label>Categoria:</label></div>
                                <div class="col-md-7">
                                    <select class="custom-select form-select" formControlName="category" required="">
                                        <option value="">--Selecciona la categoria--</option>
                                        <option value="1">Electronics</option>
                                        <option value="2">Clothes</option>
                                        <option value="2">Shoes</option>
                                        <option value="2">Digital</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-3 col-md-4"><label for="validationCustom3">Fecha Inicio: </label>
                                </div>
                                <div class="col-md-7"><input class="form-control" formControlName="products"
                                        id="validationCustom3" type="date" required="">
                                </div>
                                <div class="valid-feedback">Please Provide a Product Name.</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-3 col-md-4"><label for="validationCustom3">Fecha Fin: </label>
                                </div>
                                <div class="col-md-7"><input class="form-control" formControlName="products"
                                        id="validationCustom3" type="date" required="">
                                </div>
                                <div class="valid-feedback">Please Provide a Product Name.</div>
                            </div>

                        </form>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>Descuento</a>
                    <ng-template ngbNavContent>
                        <form [formGroup]="generalForm" class="needs-validation" novalidate="">
                            <h4>Descuento</h4>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-xl-3 col-md-4">
                                            <label for="validationCustom0"><span>*</span>
                                                Titulo del Cupón: </label>
                                        </div>
                                        <div class="col-md-7">
                                            <input class="form-control" formControlName="name" id="validationCustom0"
                                                type="text" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-3 col-md-4">
                                            <label for="validationCustom1"><span>*</span>
                                                Código de Cupón</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input class="form-control" formControlName="code" id="validationCustom1"
                                                type="text" required="">
                                        </div>
                                        <div class="valid-feedback">Please Provide a Valid Coupon Code.</div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-xl-3 col-md-4"><label>Promocion: </label></div>
                                        <div class="col-md-7">
                                            <select class="custom-select form-select" required="">
                                                <option value="">--Selecciona una Opción--</option>
                                                <option value="1">Promocion uno</option>
                                                <option value="2">Promocion dos</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-xl-3 col-md-4"><label>Tipo de Descuento: </label></div>
                                        <div class="col-md-7">
                                            <select class="custom-select form-select" required="">
                                                <option value="">--Selecciona una Opción--</option>
                                                <option value="1">Porcentaje</option>
                                                <option value="2">Precio Fijo</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-xl-3 col-md-4"><label>Cantidad de Descuento:</label></div>
                                        <div class="col-md-7">
                                            <input class="form-control" formControlName="quantity" type="number"
                                                required="">
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </form>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
            <div class="pull-right">
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->