<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <!--MODAL CAMBIAR CONTRASEÑA-->
                <div class="btn-popup pull-right">
                    <ng-template #content1 let-modal>
                        <div class="modal-header">
                            <h5 class="modal-title f-w-600" id="exampleModalLabel">Cambiar Contraseña</h5>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                                <!-- Section 1: Email Input -->
                                <div *ngIf="!codeSent">
                                    <h1>Restablecer Contraseña</h1>
                                    <div class="form-group">
                                        <label class="mb-2" for="email">Correo Electrónico:</label>
                                        <input type="email" id="email" formControlName="email" class="form-control mb-2"
                                            required >
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Enviar Código</button>
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                            (click)="modal.dismiss('Cross click')">Cerrar</button>
                                    </div>
                                </div>

                                <!-- Section 2: Code and New Password Input -->
                                <div *ngIf="codeSent">
                                    <h1 class="text-center">Verificar Código y Cambiar Contraseña</h1>
                                    <div class="form-group">
                                        <p>Verifica el código enviado al correo electrónico e ingresalo para poder cambiar la contraseña</p>
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-2" for="resetPasswordCode">Código de Verificación:</label>
                                        <input type="number" id="resetPasswordCode" formControlName="resetPasswordCode"
                                            class="form-control mb-3" required >
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-2" for="newPassword">Nueva Contraseña:</label>
                                        <input type="password" id="newPassword" formControlName="newPassword"
                                            class="form-control" required />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                            (click)="modal.dismiss('Cross click')">Cerrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </div>


                <!--MODAL EDITAR EMAIL Y USUARIO-->
                <div class="btn-popup pull-right">
                    <ng-template #content2 let-modal>
                        <div class="modal-header">
                            <h5 class="modal-title f-w-600" id="exampleModalLabel">Actualizar Usuario</h5>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="upadteUserForm" (ngSubmit)="onSubmitUpdate()">
                                <!-- Section 1: Editar Email -->
                                <div *ngIf="updateEmail">
                                    <h1 class="text-center">Actualizar Correo Electrónico</h1>
                                    <div class="form-group">
                                        <label class="mb-2" for="email">Correo Electrónico:</label>
                                        <input type="email" id="email" formControlName="email" class="form-control mb-2"
                                            required >
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                            (click)="modal.dismiss('Cross click')">Cerrar</button>
                                    </div>
                                </div>

                                <!-- Section 2: Nombre de Usuario -->
                                <div *ngIf="!updateEmail">
                                    <h1 class="text-center">Actualizar Nombre de Usuario</h1>
                                    <div class="form-group">
                                        <label class="mb-2" for="name_user">Nombre de Usuario:</label>
                                        <input type="text" id="name_user" formControlName="name_user"
                                            class="form-control" required />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                            (click)="modal.dismiss('Cross click')">Cerrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </div>

                <div class="card-body">
                    <div class="profile-details text-center">
                        <img class="img-fluid img-90 rounded-circle blur-up lazyloaded"
                            [src]="getUserImageUrl(usuarioDto.usu_imagen)" alt="{{ usuarioDto.usu_nombreUsuario }}">
                        <h5 class="f-w-600 mb-0">{{usuarioDto.usu_nombre}}</h5>
                        <span>{{usuarioDto.usu_email}}</span>
                        <div class="social">
                            <div class="form-group btn-showcase">
                                <button class="btn social-btn btn-fb d-inline-block">
                                    <i class="fa fa-facebook"></i></button>
                                <button class="btn social-btn btn-twitter d-inline-block"><i
                                        class="fa fa-google"></i></button>
                                <button class="btn social-btn btn-google d-inline-block me-0"><i
                                        class="fa fa-twitter"></i></button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="project-status">
                        <h5 class="f-w-600">Rol</h5>
                        
                        <div class="media">
                            <div class="media-body">
                                <h5><app-feather-icons [icon]="'user'"></app-feather-icons><span style="font-weight: bold;" class="pull-right">{{usuarioDto.roles.rol_nombre}}</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card tab2-card">
                <div class="card-body">
                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                        <li [ngbNavItem]="1">
                            <a ngbNavLink><i class="me-2" data-feather="user"></i>Perfil</a>
                            <ng-template ngbNavContent>
                                <div class="tab-pane fade show active" id="top-profile" role="tabpanel"
                                    aria-labelledby="top-profile-tab">
                                    <h5 class="f-w-600"> Perfil</h5>
                                    <div class="table-responsive profile-table">
                                        <table class="table table-responsive">
                                            <tbody>
                                                <tr>
                                                    <td>Nombres:</td>
                                                    <td>{{usuarioDto.usu_nombre}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Apellidos:</td>
                                                    <td>{{usuarioDto.usu_apellido}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Correo Electrónico:</td>
                                                    <td>{{usuarioDto.usu_email}}</td>
                                                    <td><a class="icon-edit" (click)="open(content2); datosUpdate(true)"><i class="fa fa-edit f-12"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Nombre Usuario:</td>
                                                    <td>{{usuarioDto.usu_nombreUsuario}}</td>
                                                    <td><a class="icon-edit" (click)="open(content2); datosUpdate(false)"><i class="fa fa-edit f-12"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Fecha de Creación:</td>
                                                    <td>{{usuarioDto.usu_creado | date: 'dd/MM/yyyy' }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-original-title="test" data-target="#exampleModal"
                                            (click)="open(content1)">CAMBIAR CONTRASEÑA</button>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                            <a ngbNavLink class="d-flex align-items-center"><i data-feather="settings"
                                    class="me-2"></i>Detalles</a>
                            <ng-template ngbNavContent>
                                <div class="account-setting deactivate-account">
                                    <h5 class="f-w-600">Desactivar Cuenta</h5>
                                    <div class="row">
                                        <div class="col">
                                            <label class="d-block mb-2" for="edo-ani">
                                                <input class="radio_animated" id="edo-ani" type="radio" name="rdo-ani"
                                                    checked="">
                                                    Tengo una duda sobre la privacidad
                                            </label>
                                            <label class="d-block mb-2" for="edo-ani1">
                                                <input class="radio_animated" id="edo-ani1" type="radio" name="rdo-ani">
                                                Esto es temporal
                                            </label>
                                            <label class="d-block mb-0" for="edo-ani2">
                                                <input class="radio_animated" id="edo-ani2" type="radio" name="rdo-ani"
                                                    checked="">
                                                Otros
                                            </label>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary">Desactivar Cuenta</button>
                                </div>
                                <div class="account-setting deactivate-account">
                                    <h5 class="f-w-600">Eliminar Cuenta</h5>
                                    <div class="row">
                                        <div class="col">
                                            <label class="d-block mb-2" for="edo-ani3">
                                                <input class="radio_animated" id="edo-ani3" type="radio" name="rdo-ani1"
                                                    checked="">
                                                    Ya no quiero usarla
                                            </label>
                                            <label class="d-block mb-2" for="edo-ani4">
                                                <input class="radio_animated" id="edo-ani4" type="radio"
                                                    name="rdo-ani1">
                                                    Quiere cambiar a otra cuenta
                                            </label>
                                            <label class="d-block mb-0" for="edo-ani5">
                                                <input class="radio_animated" id="edo-ani5" type="radio" name="rdo-ani1"
                                                    checked="">
                                                Otros
                                            </label>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary">Eliminar Cuenta</button>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->