<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5> Crear Usuario</h5>
                </div>
                <div class="card-body tab2-card">
                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                        <!--CREAR USUARIO POR ROL-->
                        <li [ngbNavItem]="1">
                            <a ngbNavLink>Crear Usuario</a>
                            <ng-template ngbNavContent>
                                <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="needs-validation user-add"
                                    novalidate>
                                    <h4>Información Necesaria</h4>

                                    <div class="form-group row">
                                        <div class="col-xl-3 col-md-4">
                                            <label for="validationCustom0"><span>*</span> Identificación</label>
                                        </div>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="usu_identifiacion"
                                                formControlName="usu_identifiacion" type="text" required>
                                            <div *ngIf="isFieldInvalid('usu_identifiacion')" class="invalid-feedback">
                                                La identificación es obligatoria.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-xl-3 col-md-4">
                                            <label for="validationCustom1"><span>*</span> Nombre</label>
                                        </div>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="usu_nombre" formControlName="usu_nombre"
                                                type="text" required>
                                            <div *ngIf="isFieldInvalid('usu_nombre')" class="invalid-feedback">
                                                El nombre es obligatorio.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-xl-3 col-md-4">
                                            <label for="validationCustom2"><span>*</span> Apellido</label>
                                        </div>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="usu_apellido" formControlName="usu_apellido"
                                                type="text" required>
                                            <div *ngIf="isFieldInvalid('usu_apellido')" class="invalid-feedback">
                                                El apellido es obligatorio.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-xl-3 col-md-4">
                                            <label for="validationCustom3"><span>*</span> Email</label>
                                        </div>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="usu_email" formControlName="usu_email"
                                                type="email" required>
                                            <div *ngIf="isFieldInvalid('usu_email')" class="invalid-feedback">
                                                Un email válido es obligatorio.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-xl-3 col-md-4">
                                            <label for="validationCustom4"><span>*</span> Nombre de Usuario</label>
                                        </div>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="usu_nombreUsuario"
                                                formControlName="usu_nombreUsuario" type="text" required>
                                            <div *ngIf="isFieldInvalid('usu_nombreUsuario')" class="invalid-feedback">
                                                El nombre de usuario es obligatorio.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-xl-3 col-md-4">
                                            <label for="validationCustom4"><span>*</span> Contraseña</label>
                                        </div>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="usu_password" formControlName="usu_password"
                                                type="password" required>
                                            <div *ngIf="isFieldInvalid('usu_password')" class="invalid-feedback">
                                                La contraseña es obligatoria.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-xl-3 col-md-4">
                                            <label for="validationCustom4"><span>*</span> Rol</label>
                                        </div>
                                        <div class="col-xl-8 col-md-7">
                                            <select class="form-control" formControlName="rolId">
                                                <option value="" disabled selected>Seleccione un rol</option>
                                                <option *ngFor="let rol of rolDto" value="{{rol.rol_id}}">
                                                    {{rol.rol_nombre}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-xl-3 col-md-4">
                                            <label for="validationCustom4"><span>*</span> Imagen</label>
                                        </div>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="file" type="file"
                                                (change)="onFileChange($event)">
                                        </div>
                                    </div>

                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary">Crear Usuario</button>
                                    </div>
                                </form>
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                    <!-- <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->