<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Sub Categorias</h5>
                </div>
                <div class="card-body">
                    <div class="btn-popup pull-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-original-title="test"
                            data-target="#exampleModal" (click)="open(content)">Agregar Sub Categoria</button>
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title f-w-600" id="exampleModalLabel">Agregar Sub Categoria</h5>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation">
                                    <div class="form">
                                        <div class="form-group">
                                            <label for="categoriaSelect" class="mb-1">Selecciona una Categoria:</label>
                                            <select class="form-control" id="categoriaSelect">
                                                <option value="" disabled selected>Seleccione una opción</option>
                                                <option value="1">Opción 1</option>
                                                <option value="2">Opción 2</option>
                                                <option value="3">Opción 3</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="validationCustom01" class="mb-1">Nombre Sub Categoria :</label>
                                            <input class="form-control" id="validationCustom01" type="text">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Guardar</button>
                                <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                    (click)="modal.dismiss('Cross click')">Cerrar</button>
                            </div>
                        </ng-template>
                    </div>
                    <div id="batchDelete" class="category-table custom-datatable">
                        <div class="table-responsive">
                            <!-- <form>
                                <div class="mb-3 row">
                                    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
                                    <div class="col-xs-3 col-sm-auto">
                                    <input id="table-complete-search" type="text" class="form-control" name="searchTerm"  [(ngModel)]="searchText" autocomplete="off">
                                    </div>
                                </div>
                            </form> -->
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" sortable="sub_category">Sub Categoria</th>
                                        <th scope="col" sortable="category">Categoria</th>
                                        <th scope="col" sortable="action">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let subcategoria of subcategoriaDto | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index ">
                                        <th scope="row">{{calcularIDGlobal(i, page, 10)}}</th>
                                        <td>{{ subcategoria.sub_nombre}}</td>
                                        <td>{{ subcategoria.categoria.cat_nombre}}</td>
                                        <td>
                                            <a href="javascript:void(0)"><i class='fa fa-edit f-12'></i></a>&nbsp;
                                            <a href="javascript:void(0)"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
                            [collectionSize]="subcategoriaDto.length"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->