<!-- productos.component.html -->
<div class="container-fluid">
    <div class="row products-admin ratio_asos">
        <div class="col-xl-3 col-sm-6" *ngFor="let product of product_list">
            <div class="card">
                <div class="card-body product-box">
                    <div class="img-wrapper">
                        <div class="lable-block">
                            <span class="lable3" *ngIf="product.tag === 'new'">new</span>
                            <span class="lable4" *ngIf="product.sale === 'on sale'">on sale</span>
                        </div>
                        <div class="front">
                            <div class="image-wrapper">
                                <a href="javascript:void(0)">
                                    <!-- Mostrar la primera imagen del array o una imagen por defecto si no hay imágenes -->
                                    <img [src]="product.imagenes && product.imagenes.length > 0 ? urlApi + product.imagenes[0].imagen_url : 'path/to/default/image.jpg'"
                                        class="img-fluid blur-up lazyload bg-img" alt="Product Image">
                                </a>
                            </div>

                            <div class="product-hover">
                                <ul>
                                    <li>
                                        <button class="btn" type="button" data-original-title="" title="">
                                            <i class="icon-pencil-alt"></i>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn" type="button" data-toggle="modal" (click)="deleteProducto(product.prod_id)"
                                            data-target="#exampleModalCenter" data-original-title="" title="">
                                            <i class="icon-trash"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="product-detail">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <a href="javascript:void(0)">
                            <h6>{{ product.prod_nombre }}</h6>
                        </a>
                        <h4>{{ product.prod_precio | currency }} <del>{{ product.prod_precio_oferta | currency }}</del></h4>
                        <h5> Cantidad Disponible: {{ product.inventario[0].inv_cantidad_disponible }} Unidades</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>